apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: task-hakadoru-ga
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
      name: http
  type: ClusterIP
