apiVersion: v1
kind: Service
metadata:
  name: database-service
  namespace: task-hakadoru-ga
  labels:
    app: database
spec:
  selector:
    app: database
  ports:
    - port: 3306
      targetPort: 3306
      name: mysql
  type: ClusterIP
