apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: task-hakadoru-ga
  labels:
    app: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 3001
      name: http
  type: ClusterIP
